.paginaError {
    width: 100%;
    height: calc(100vh - 45px);
    background-color: var(--colorByma-2);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .tituloError {
    color: var(--colorByma-6);
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    width: 100%;
    text-align: center;
    margin-bottom: 57px;
  }
  
  .contImgError {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-bottom: 57px;
    background-color: var(--colorByma-9);
    display: flex;
    justify-content: center;
    align-items: center;
  
    svg {
      width: 150px;
      height: auto;
      margin-top: 20px;
    }
  }
  
  .btnError {
    width: 99px;
    height: 30px;
    background: var(--colorByma-6);
    border-radius: 5px;
    color: var(--colorByma-2);
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  .cls-1 {
    fill: var(--colorByma-6);
  }
  
  @media screen and (max-width: 1550px) {
    .tituloError {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  
    .contImgError {
      width: 300px;
      height: 300px;
      margin-bottom: 30px;
  
      svg {
        width: 130px;
        margin-top: 10px;
      }
    }
  }
  