.producDetails{
    display: flex;
    width: calc(100% - 30%);
    background-color: #eeeeee;
    flex-direction: column;
    justify-content: center;
    
}
.contenedorCategories{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 16px;      
}

.containerbody{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: flex-start;
    border-radius: 4px;
    width: 100%;
}

.categories span{
    color: #666666;
    font-size: 14px;
    font-weight: 450;
    line-height: 20.3px;
    text-align: left;
    
    }
.categories{
    display: flex;
   

}
.iconCategories{
    color: #666666;
    display: inline;
    float: none;
    margin: 0 4px;
    padding: 0;
    stroke-width: 1.3;
}

.row1product{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content:baseline;

}

.row1product img{
    width: 680px;
    height: 680px;
    border-radius: 4px; 
    object-fit: contain;
    align-self: flex-start;
    padding: 16px;
}

.block-Item{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-right: 32px;
}


.block-comprar{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-top: 32px;
}

.block-comprar span{
    color: #666666;
    font-size: 14px;
    font-weight: 450;
    line-height: 20.3px;
    text-align: left;
}
.block-cantvendidos{
    flex-direction: row;
    width: 100%;

}
.nuevo{
    display: flex;
    width: 100%  ;
}

.titleItem{
    display: flex;
    width: 50%;
}
.titleItem span {

    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-size-adjust: 100%;
    color: #333333

}

.priceItem{
    display: flex;

}

.priceItem span{

    font-size: 46px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-size-adjust: 100%;
    color: #333333;
    padding-top: 32px;
    padding-bottom: 32px;

}
.button-comprar{
    display: flex;

    
}

.button-comprar button{
    width: 100%;
    padding-right: 64px;
    padding-left: 64px;
    background-color: #3483FA;
    border-bottom: none;
    outline: none;
    color:#ffff;
    width: 100%;
    font-size: 16px;
    font-stretch: 100%;
    text-align: center;
    text-size-adjust: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 4px;
    align-self: center;
    border-color: transparent;
    cursor: pointer;;
}



.row2-details{
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

.title-descripcion{

    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 32px;
    padding-left: 32px;
}

.title-descripcion span{

    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
}

.detalle{
    display: flex;
    padding-bottom: 32px;
    padding-left: 32px;
}

.detalle span{

    color: #999999;
    font-size: 16px;
    font-weight: 400;
    width: 50%;
}
.productDetails{
        display: flex;
    width: calc(100% - 25%);
    height: min-content;
    background-color: #eeeeee;
    flex-direction: column;
    justify-content: center;
}