/* Fuente Tipográfica */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #b5b0b6 transparent;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--colorByma-1);
}
::-webkit-scrollbar-thumb {
  background-color: #00A2E4;
  border-radius: 4px;
  border: 4px solid #00A2E4;
}

body{
  background-color: #eeeeee;
  margin: 0;
}
#App{
  height: 100vh;
}
.App{
  background-color: #eeeeee
  ;
}
.d-none{
  display: none;
}
.d-block{
   display: block;
}
.d-inline{
   display: inline;
}
.container, .d-flex{
  display:flex;
  align-self: center;
}

.container{
  width: 800px;
  height: 100%;
}
/* Títulos */
.tituloH3, .tituloH4{
  color: var(--colorByma-5);
  font-weight: 400;
}
.tituloH3{
  font-size: 18px;
  line-height: 21px;
}
.tituloH4{
  font-size: 16px;
  line-height: 19px;
}

/* Botones */

.btnErrorForm{
  pointer-events: none;
  border: 1px solid #3E7CD4;
  background: #3E7CD4;
  color: #FFFFFF;
  opacity: 0.8;
}


/* Select e Input*/
select{
  outline: 0 !important;
}
