.containerResultados{
    display: flex;
    width: calc(100% - 25%);
    height: min-content;
    background-color: #eeeeee;
    flex-direction: column;
    justify-content: center;
}

.contenedorCategories{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 16px;

    
        
}
.categories span{
    color: #666666;
    font-size: 14px;
    font-weight: 450;
    line-height: 20.3px;
    text-align: left;
    
    }
.categories{
    display: flex;
   

}
.iconCategories{
    color: #666666;
    display: inline;
    float: none;
    margin: 0 4px;
    padding: 0;
    stroke-width: 1.3;
}

.containerItems{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: flex-start;
    border-radius: 4px;
}

.colum1{
    display: flex;
    justify-self: flex-start;
    flex-direction: column;

}


.item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100% !important;
}

.row img{
    padding: 16px;
    width: 180px;
    height: 180px;
    border-radius: 4px;
    object-fit: contain;
}

.containerTextItem{
    display: flex;
    flex-direction: column;
    align-items: baseline;
   
}

.row{
display: flex;
flex-direction: row;
justify-content: space-between;



}

.price{
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.price span{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-size-adjust: 100%;
    color: #333333
}
.price img{
    width: 24px;
    height: 24px;
    border-radius: 50px;

}

.description{
    display: flex;
    width: 25rem;

}

.description span{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-size-adjust: 100%;
    color: #333333
}

.column2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
}
.origen{
    display: flex;
    align-items: baseline;
    justify-self:baseline;
    padding-top: 38px;
}

.origen span{

    color: #666666;
    font-size: 12px;
    font-weight: 450;
    line-height: 20.3px;
    text-align: left;
    justify-self: flex-end;
}